[submodule "systemd"]
	path = systemd
	url = https://github.com/usommerl/configuration-systemd-units.git
[submodule "Xorg"]
	path = Xorg
	url = https://github.com/usommerl/configuration-Xorg.git
[submodule "zathura"]
	path = zathura
	url = https://github.com/usommerl/configuration-zathura.git
[submodule "rtorrent"]
	path = rtorrent
	url = https://github.com/usommerl/configuration-rtorrent.git
[submodule "ncmpcpp"]
	path = ncmpcpp
	url = https://github.com/usommerl/configuration-ncmpcpp.git
[submodule "mpd"]
	path = mpd
	url = https://github.com/usommerl/configuration-mpd.git
[submodule "minidlna"]
	path = minidlna
	url = https://github.com/usommerl/configuration-minidlna.git
[submodule "hg"]
	path = hg
	url = https://github.com/usommerl/configuration-hg.git
[submodule "latexmk"]
	path = latexmk
	url = https://github.com/usommerl/configuration-latexmk.git
[submodule "git"]
	path = git
	url = https://github.com/usommerl/configuration-git.git
[submodule "feh"]
	path = feh
	url = https://github.com/usommerl/configuration-feh.git
[submodule "ack"]
	path = ack
	url = https://github.com/usommerl/configuration-ack.git
[submodule "vim"]
	path = vim
	url = https://github.com/usommerl/configuration-vim.git
[submodule "bash"]
	path = bash
	url = https://github.com/usommerl/configuration-bash.git
[submodule "awesomewm"]
	path = awesomewm
	url = https://github.com/usommerl/configuration-awesomewm.git
[submodule "zsh"]
	path = zsh
	url = https://github.com/usommerl/configuration-zsh.git
[submodule "mplayer"]
	path = mplayer
	url = https://github.com/usommerl/configuration-mplayer.git
[submodule "tmux"]
	path = tmux
	url = https://github.com/usommerl/configuration-tmux.git
[submodule "ranger"]
	path = ranger
	url = https://github.com/usommerl/configuration-ranger.git
[submodule "weechat"]
	path = weechat
	url = https://github.com/usommerl/configuration-weechat.git
[submodule "vifm"]
	path = vifm
	url = https://github.com/usommerl/configuration-vifm.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/usommerl/configuration-nvim.git
[submodule "sbt"]
	path = sbt
	url = https://github.com/usommerl/configuration-sbt
[submodule "chromium"]
	path = chromium
	url = https://github.com/usommerl/configuration-chromium
[submodule "alacritty"]
	path = alacritty
	url = https://github.com/usommerl/configuration-alacritty
